<footer class="footer">

	<kendo-appbar position="bottom" class="footer-nav">

		<kendo-appbar-section>
			<nav>
				<ul class="footer-nav-list">
					<li>
						<p>Categories</p>
					</li>
					<li><a routerLink="/categories/components">Components</a></li>
					<li><a routerLink="/categories/bikes">Bikes</a></li>
					<li><a routerLink="/categories/clothes">Clothes</a></li>
					<li><a routerLink="/categories/accessories">Accessories</a></li>
				</ul>
			</nav>
		</kendo-appbar-section>

		<kendo-appbar-section>
			<nav>
				<ul class="footer-nav-list">
					<li>
						<p>Contacts</p>
					</li>
					<li>
						<p>United States <br>
							932 Clousson Road Str <br>
							Sergeant Bluff, Iowa <br>
							712-923-1916 <br>
							51054</p>
					</li>
					<li>
						<p>contacts@voyago.com</p>
					</li>
				</ul>
			</nav>
		</kendo-appbar-section>

		<kendo-appbar-section>
			<nav>
				<ul class="footer-nav-list">
					<li>
						<p>Payment Methods</p>
					</li>
					<li class="payment-logo"><a href="#"><img class="payment-img" src="../../../assets/images/VISA logo.png" alt="VISA logo"></a></li>
					<li class="payment-logo"><a href="#"><img class="payment-img" src="../../../assets/images/Mastercard logo.png" alt="Mastercard logo"></a>
					</li>
					<li class="payment-logo"><a href="#"><img class="payment-img" src="../../../assets/images/PayPal logo.png" alt="PayPal logo"></a></li>
				</ul>
			</nav>
		</kendo-appbar-section>

		<kendo-appbar-section>
			<nav>
				<ul class="footer-nav-list">
					<li>
						<p>Socials</p>
					</li>
					<li class="social-media-icons">
						<a href="https://www.facebook.com/" class="k-icon k-i-facebook"></a>
						<a href="https://www.youtube.com/" class="k-icon k-i-youtube"></a>
					</li>
				</ul>
			</nav>
		</kendo-appbar-section>

	</kendo-appbar>

</footer>
